*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    padding: 50px;
}

#rightwheel{
    animation: rightwheel 2s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes rightwheel{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

#leftwheel{
    animation: leftwheel 2s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes leftwheel{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

#manbike{
    animation: manbike 1s ease infinite alternate;
    transform-origin:  bottom;
}

@keyframes manbike{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(20deg);
    }
}

#hat{
    animation: hat 1s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes hat{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(30%);
    }
}